/* Navbar */
nav {
	padding-right: 15%;
	padding-left: 15%;
	height: 60px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 2;
	background-color: #222222;
}

@media (max-width: 1600px) {
	nav {
		padding-right: 10%;
		padding-left: 10%;
	}
}

@media (max-width: 1350px) {
	nav {
		padding-right: 10px;
		padding-left: 10px;
	}
}

/* Logo */
.nav_home {
	padding: 5px 16px 0 16px;
	float: left;
}

.nav_home img {
	height: 50px;
}

/* Installation */
.nav_install {
	float: right;
	font-size: 17px;
	padding: 21px 16px;
	display: flex;
}

.nav_install p {
	font-weight: bold;
	font-size: 15px;
	padding-left: 5px;
	margin: 0;
}


/* Download */
.nav_download {
	float: right;
	font-size: 17px;
	padding: 15px 16px;
	display: flex;
}

.nav_download img {
	height: 30px;
}

.nav_download p {
	font-weight: bold;
	font-size: 15px;
	padding-left: 5px;
	margin: 0;
	margin-top: 5px;
}

.nav_hover:hover, .nav_hover:focus {
	background-color: #333333;
	outline: none;
	color: white;
}


/* ####################################################################### */
/* Button */
.button {
	padding: 10px 20px;
	background: #333333;
	border-radius: 5px;
}

.button:hover {
	background: #A10000;
}

/* Spoiler */
.spoiler_title {
	cursor: pointer;
	background-color: #333333;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
	font-size: 20px;
	width: 98%;
}

.spoiler_title:hover {
	background-color: #222222;
}

.spoiler_show {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.spoiler_content {
	margin-left: 5px;
	margin-bottom: 50px;
	border-bottom: 5px solid #333333;
	padding-bottom: 10px;
}

.spoiler_flex {
	display: flex;
}

.spoiler_image {
	width: 40%;
	padding: 10px;
}

.spoiler_show img {
	width: 100%;
}

.spoiler_text {
	width: 59%;
}

.spoiler_settings p {
	margin-bottom: 5px;
}

.spoiler_title:after {
	content: "\002B";
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	margin-right: 15px;
}

.spoiler_title.active:after {
	content: "\2212";
}


@media screen and (max-width: 650px) {
	.spoiler_flex {
		flex-direction: column;
	}
	.spoiler_flex * {
		width: 100%;
	}
	.spoiler_flex img {
		max-width: 300px;
	}
}
