/* Navbar Installation */
@media (max-width: 600px) {
	.nav_install, .nav_text {
		display: none;
	} 
}

/* ####################################################################### */
/* Slideshows */
.slideshow {
	display: none;
}

.slideshow img {
	vertical-align: middle;
	width: 100%;
}

.slideshow-container {
	position: relative;
	margin: auto;
	width: 100%;
}

/* Buttons */
.slideshow_prev, .slideshow_next {
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #CCCCCC;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
}

.slideshow_next {
	right: 0;
	border-radius: 5px 0 0 5px;
}

.slideshow_prev:hover, .slideshow_next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideshow .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 18px;
	position: absolute;
	bottom: 8px;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	left: 50%;
    transform: translate(-50%, 0);
}


/* ####################################################################### */
/* Header */
header {
	display: flex;
}

header h1 {
	flex: 1;
	text-align: center;
}

header p {
	margin-top: 70px;
	text-align: center;
}

@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header p {
		margin-top: 0;
	}
}


/* ####################################################################### */
/* Download v2 */
section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	overflow-y: auto;
}

.inner_box {
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #292929;
	border-radius: 20px;
	padding: 25px;
	user-select: none;
}

.inner_box h2 {
	margin: 0;
	margin-bottom: 20px;
}

.download {
	margin-bottom: 20px;
}

.download button {
	margin: 5px;
}

.inner_box span {
	display: block;
	font-size: 0.8em;
	margin-bottom: 8px;
}

.download_box_links a {
	display: inline-block;
	font-size: 0.9em;
	padding: 0 10px;
}

.select_version_box {
	display: inline-block;
	position: relative;
	margin-top: 5px;
	margin-bottom: 30px;
}

#select_version {
	display: inline-block;
	position: relative;
	padding: 10px;
	background: #333333;
	border-radius: 5px;
	cursor: default;
}

#select_version:hover {
	background-color: #a10000;
}

#select_version:after {
	content: " \2BC6";
}

#selection_box {
	display: flex;
	position: absolute;
	border-radius: 5px;
	background-color: #333333;
	top: 45px;
	left: 50%;
	transform: translate(-50%, 0);
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.65);
}

#version_main {
	max-height: 40vh;
	direction: rtl;
	overflow-y: auto;
}

#version_main div {
	padding: 8px 12px;
	border-radius: 5px;
	margin-right: 5px;
}

#version_main div:hover {
	background-color: #222222;
}

.version_main_selected {
	border-radius: 5px 0 0 5px !important;
	margin-right: 2px !important;
	background-color: #a10000 !important;
	position: relative;
}

#version_sub {
	max-height: 40vh;
	overflow-y: auto;
	border-radius: 5px;
	background-color: #222222;
}

#version_sub div {
	padding: 8px 12px;
	border-radius: 0 5px 5px 0;
}

.version_sub_selected, #version_sub div:hover {
	background-color: #a10000;
}

.hidden {
	display: none !important;
}

.download_close {
	right: 5px;
	top: 4px;
	position: absolute;
	width: 50px;
	height: 50px;
	color: #CCCCCC;
}

.download_close:hover svg {
	fill: #a10000;
}

.loading_cursor, .loading_cursor * {
	cursor: progress !important;
}

@media (max-width: 678px) {
	.inner_box {
		width: calc(100vw - 80px);
	}
}