main {
	padding: 20px;
	padding-bottom: 50px;
	width: 800px;
	margin: 0 auto;
}

@media screen and (max-width: 840px) {
	main {
		width: calc(100vw - 40px);
	}
}

/* Navbar Installation */
@media (max-width: 500px) {
	.nav_install {
		display: none;
	} 
}

/* ####################################################################### */
/* Slideshows */
.slideshow {
	display: none;
}

.slideshow img {
	vertical-align: middle;
	width: 100%;
}

.slideshow-container {
	position: relative;
	margin: auto;
	width: 100%;
}

/* Buttons */
.slideshow_prev, .slideshow_next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
}

.slideshow_next {
	right: 0;
	border-radius: 5px 0 0 5px;
}

.slideshow_prev:hover, .slideshow_next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideshow .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 18px;
	position: absolute;
	bottom: 8px;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	left: 50%;
    transform: translate(-50%, 0);
}


/* ####################################################################### */
/* Header */
header {
	display: flex;
}

header h1 {
	flex: 1;
	text-align: center;
}

header p {
	margin-top: 70px;
	text-align: center;
}

@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header p {
		margin-top: 0;
	}
}

/* ####################################################################### */
/* Download */
section {
	background-color: #292929;
	text-align: center;
}

.download_close {
	padding-right: 15%;
	right: 0;
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 40px;
	color: white;
}

.download_close:hover {
	filter: invert(100%);
}

section h1 {
	margin-bottom: 5px;
}

.section_header {
	display: flex;
	justify-content: center;
}

.section_header h3{
	padding: 0 20px;
}
.section_header p {
	display: none;
	color: #8A8A8A;
	padding: 0 20px;
	padding-top: 5px;
}


section table {
	margin: 50px auto;
	width: 850px;
}

section td {
	width: 30%;
	padding-bottom: 60px;
}

.version {
	font-size: 35px;
	font-weight: bold;
}

@media (max-width: 1600px) {
	.download_close {
		padding-right: 10%;
	}
}

@media (max-width: 1350px) {
	.download_close {
		padding-right: 12px;
	}
}

@media (max-width: 850px) {
	section table, section thead, section tbody, section th, section td, section tr {
		display: block;
	}

	section table {
		width: unset;
	}

	section tr {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 50px;
		border-bottom: 5px solid #333333;
		border-radius: 2px;
	}

	section td {
		width: 100%;
	}
}