@font-face {
	font-family: DragonForcE;
	src: url(../fonts/dragon_force.ttf);
	font-weight: normal;
}

@font-face {
	font-family: FiraSans;
	src: url(../fonts/fira_sans.ttf);
	font-weight: normal;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	font-size: 20px;
	font-family: FiraSans;
	color: #CCCCCC;
	display: flex;
	flex-direction: column;
	background: #292929;
}

/* Main */
main {
	padding: 20px;
	padding-bottom: 50px;
	width: 800px;
	margin: 0 auto;
}

@media screen and (max-width: 840px) {
	main {
		width: calc(100vw - 40px);
	}
}

/* ####################################################################### */
/* Navbar */
nav {
	padding-right: 15%;
	padding-left: 15%;
	height: 60px;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #222222;
	overflow: hidden;
}

@media (max-width: 1600px) {
	nav {
		padding-right: 10%;
		padding-left: 10%;
	}
}

@media (max-width: 1350px) {
	nav {
		padding-right: 10px;
		padding-left: 10px;
	}
}

/* Button */
.nav_button {
	float: right;
	font-size: 17px;
	padding: 15px 16px;
	display: flex;
	user-select: none;
}

.nav_button img {
	height: 30px;
}

.nav_button p {
	font-weight: bold;
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
	margin-top: 5px;
	height: 25px;
}

/* Logo */
.nav_home {
	padding: 5px 16px 10px 16px;
	float: left;
}

.nav_home h1 {
	margin: 0;
	font-size: 40px;
	text-shadow: 4px 4px 5px rgba(0,0,0,0.65);
}

.nav_home h2 {
	font-family: DragonForcE;
	color: #A10000;
	text-align: center;
	font-weight: bold;
	margin: 0;
	font-size: 40px;
	text-shadow: 4px 4px 5px rgba(0,0,0,0.65);
}

/* Hover */
.nav_button:hover, .nav_button:focus {
	background-color: #333333;
	outline: none;
	color: #CCCCCC;
}

/* ####################################################################### */
/* Text */
h1 {
	font-family: DragonForcE;
	color: #A10000;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	text-shadow: 4px 4px 5px rgba(0,0,0,0.20);
}

.center {
	text-align: center;
}

h1 a:link, h1 a:visited {
	color: #A10000;
}

h1 a:hover, h1 a:active, h1 a:focus {
	color: #7a0303;
}

a:link, a:visited {
	color: #ED0000;
}

a:hover, a:active, a:focus {
	color: #A10000;
}

.a_button {
	cursor: default;
}

.disable_link:link, .disable_link:visited, .disable_link:hover, .disable_link:active {
	color: inherit;
	text-decoration-line: none;
}

hr {
	border-style: solid;
	border-width: 2px;
	border-color: #333333;
	margin: 0 auto;
	width: 80%;
}


/* ####################################################################### */
/* Table and Lists*/
.table {
	border-collapse: collapse;
}

.table tr {
	border-bottom: 2px solid #333333;
}

.table tr * {
	padding-right: 10px;
}

.table th {
	text-align: left;
}

.table p {
	margin: 10px 0;
}

@media (max-width: 850px) {
	.dyn_table, .dyn_table thead, .dyn_table tbody, .dyn_table th, .dyn_table td, .dyn_table tr {
		display: block;
	}
	.dyn_table {
		width: unset;
	}
	.dyn_table th {
		display: none;
	}
}

li {
	margin: 15px 0;
}

ul li {
	list-style-type: disc;
}

@media (max-width: 500px) {
	ol, ul {
		padding-left: 20px;
	}
}
/*
ol {
    counter-reset: item;
}
ol li {
    display: block;
    position: relative;
}
ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
}
*/

/* ####################################################################### */
/* Input */
input, textarea {
	background-color: #333333;
	color: #CCCCCC;
	font-size: 16px;
	font-family: inherit;
	border: none;
	border-radius: 5px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 10px 0;
	padding: 12px;
	resize: vertical;
}

textarea.autosize {
	resize: none;
	height: 62px;
	padding-bottom: 0;
}

input:focus, input:focus:hover, textarea:focus, textarea:focus:hover {
	outline: none;
	border-radius: 4px;
}

/* Code output */
.code, code {
	background-color: #333333;
	font-family: inherit;
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px;
	user-select: all;
}

.code.fullwidth, code.fullwidth {
	font-size: 16px;
	display: block;
	margin: 10px 0;
	padding: 12px;
}

/* Checkbox / Radio */
input[type=checkbox], input[type=radio] {
	appearance: none;
	padding: 0;
	margin: 0 5px 3px 0;
	width: 19px;
	height: 19px;
	border: 2px solid #A10000;
	background-color: transparent;
	display: inline-block;
	vertical-align: sub;
}

input[type=checkbox]:checked, input[type=radio]:checked {
	box-shadow: inset 0px 0px 0px 2.5px #333333;
	background-color: #A10000;
}

input[type=checkbox], input[type=checkbox]:focus, input[type=checkbox]:hover:focus, input[type=checkbox]:checked {
	border-radius: 5px;
}

input[type=radio], input[type=radio]:focus, input[type=radio]:hover:focus, input[type=radio]:checked {
	border-radius: 50%;
}

input.key_input {
	background-color: transparent;
	display: inline-block;
	width: unset;
	margin: 0;
	padding: 0;
}

/* Button */
.button, button {
	background-color: #333333;
	color: #CCCCCC;
	font-size: inherit;
	font-family: inherit;
	outline: none;
	border: 0;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 20px;
	user-select: none;
}

.button_link {
	cursor: pointer;
}

.button:hover , .button:active, .button:focus, button:hover , button:active, button:focus {
	background: #A10000;
}

.button.fullwidth, button.fullwidth {
	display: block;
	margin: 10px 0;
}

button.center {
	display: block;
	margin: 0 auto;
}

/* Select */
select {
	padding: 10px;
	border: 0px solid;
	background: #333333;
	border-radius: 5px;
	color: inherit;
	font-family: FiraSans;
	font-size: 20px;
}
  
select:focus {
	outline: none;
}


/* ####################################################################### */
/* Spoiler */
.spoiler_title {
	background-color: #333333;
	font-size: 20px;
	user-select: none;
	border-radius: 5px;
	width: unset;
	margin: 10px 0;
	padding: 10px 20px;
}

.spoiler_title:hover {
	background-color: #222222;
}

.spoiler_show {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.spoiler_content {
	margin-left: 5px;
	margin-bottom: 50px;
	border-bottom: 5px solid #333333;
	padding-bottom: 10px;
}

.spoiler_content > *:first-child {
	margin-top: 0;
}

.spoiler_flex {
	display: flex;
}

.spoiler_image {
	width: 40%;
	padding: 10px;
	margin: 0 auto;
}

.spoiler_image img {
	width: 100%;
}

.spoiler_text {
	width: 59%;
}

.spoiler_settings p {
	margin-bottom: 5px;
}

.spoiler_title:after {
	content: "\002B";
	color: #CCCCCC;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}

.spoiler_title.active:after {
	content: "\2212";
}


@media screen and (max-width: 650px) {
	.spoiler_flex {
		flex-direction: column;
	}
	.spoiler_flex * {
		width: 100%;
	}
	.spoiler_flex img {
		max-width: 300px;
	}
}

/* ####################################################################### */
/* New Spoiler as details */
details {
	overflow: hidden;
	position: relative;
	background-color: #2D2D2D;
	border-radius: 5px;
	margin-bottom: 15px;
	max-height: 44px;
	transition: max-height 0.3s;
}

details > div {
	padding: 0 15px;
}

summary {
	display: block !important;
	background-color: #333333;
	border-radius: 5px;
	padding: 10px 15px;
	user-select: none;
	overflow: hidden;
}

summary:hover {
	background-color: #2D2D2D;
}

summary::after {
	content: "+";
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	top: 7.5px;
	right: 15px;
}

details.active summary:hover {
	box-shadow: rgba(0, 0, 0, 0.3) 0 4px 5px;
}

details.active summary::after {
	content: "−";
}

.details_flex {
	display: flex;
}

.details_img {
	width: 40%;
	margin: 0 auto;
	padding-top: 20px;
	padding-right: 10px;
}

.details_img img {
	width: 100%;
	border-radius: 5px;
}

.details_txt {
	width: 59%;
}

/* ####################################################################### */
/* Footer */
footer {
	background-color: #222222;
	margin-top: auto;
	height: 100px;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 15px;
	text-align: center;
	display: flex;
}

.footer_block {
	flex-grow: 1;
}

.footer_block a {
	text-decoration: none;
	margin: 0 20px;
}

.footer_block a:hover, .footer_block a:focus {
	outline: none;
}

.footer_left {
	text-align: left;
	font-size: 12px;
}

.footer_center {
	text-align: center;
}

.footer_right {
	text-align: right;
}

footer svg {
	height: 30px;
}

#water, #land {
	shape-rendering: crispEdges;
}

footer a:not(a:hover):not(a:focus) svg path {
	fill: #CCCCCC;
}

footer a:not(a:hover):not(a:focus) svg rect {
	fill: transparent;
}

/* Transformation */
@media screen and (max-width: 1300px) {
	footer {
		height: 160px;
		flex-direction: column-reverse;
		padding: 0;
		padding-top: 15px;
	}
	.footer_block {
		text-align: center;
	}
}

/* Touch Screen Footer */
@media (pointer: coarse) {
	.footer_right a {
		filter: contrast(100%);
	}
}